: <<'EOF'
Snarky - Zero Knowledge Dead Drop
Copyright (C) 2026 Sapadian LLC.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/
EOF


#!/bin/sh

# PROVIDE: snarky
# REQUIRE: NETWORKING
# KEYWORD: shutdown

. /etc/rc.subr

name="snarky"
rcvar="snarky_enable"

load_rc_config $name

# Defaults
: ${snarky_enable:="NO"}
: ${snarky_user:="nobody"}
: ${snarky_group:="nobody"}
: ${snarky_config:="/usr/local/etc/snarky.json"}

# Pidfile handling
# We use a subdirectory because 'nobody' cannot write directly to /var/run
pidfile="/var/run/snarky/${name}.pid"
procname="/usr/local/bin/snarky"
command="/usr/sbin/daemon"

# Ensure the directory for the PID file exists and is owned by the user
start_precmd="snarky_precmd"

snarky_precmd()
{
    if [ ! -d "/var/run/snarky" ]; then
        install -d -m 0755 -o ${snarky_user} -g ${snarky_group} /var/run/snarky
    fi
}

# The actual command arguments:
# -P: location of the PID file
# -r: restart the process if it crashes
# -f: run the target command (procname)
# -u: run the target command as the specific user (explicitly telling daemon to drop privs)
command_args="-P ${pidfile} -r -u ${snarky_user} -f ${procname} server -config ${snarky_config}"

run_rc_command "$1"